{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2><b>{{info.titulo}}</b></h2>
                </div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <div class="modal-footer">
                <a href="{% url info.link_principal %}" class="btn btn-default" value="Cancelar">Cancelar</a>
                <button type="submit" class="btn btn-success" value="Adivionar">Adicionar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

